body {
font-weight: 200;
font-size: 12pt;
color: #aaa;
}

.page-header {
border-bottom: none;
}

.page-header h1 {
font-weight: inherit;
font-size: 70px;
text-transform: lowercase;
}

.page-header h1 a, .page-header h1 a:hover {
text-decoration: none;
color: #aaa;
}

#content {
}
.header {
min-height: 50px;
}

.toolbar {
margin-bottom: 1em;
text-align: right;
display: block;
list-style: none;
font-size: 80%;
}

.toolbar li {
display: inline;
margin: 1em;
}

footer {
clear:both;
font-size: 10pt;
}

.thumbnails {
text-align: center;
}

p.no-images {
margin-top: 100px;
margin-bottom: -100px;
text-align: center;
}

img.preview {
width: 400px;
}
img {
background-color: #aaa;
}

#lightbox {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
text-align: center;
z-index: 0;
}

/* entire container, keeps perspective */
.flip-container {
-webkit-perspective: 1000;
-moz-perspective: 1000;
perspective: 1000;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
}

/* flip speed goes here */
.flipper {
-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;
-moz-transition: 0.6s;
-moz-transform-style: preserve-3d;
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
z-index: 1;
}

/* hide back of pane during swap */
.front, .back {
background: white;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
min-width: 200px;
min-height: 200px;
}

/* front pane, placed above back */
.front {
z-index: 2;
}

/* back, initially hidden pane */
.back {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
transform: rotateY(180deg);
overflow: scroll;
}

.back .content {
padding: 0 1em;
margin: 2em auto;
text-align: left;
position: relative;
max-width: 700px;
}

.back .title {
  float: left;
}

.back h1 {
font-size: 18pt;
margin-top: 0;
}

.back img {
  max-width: 100px;
}

.back .description {
  clear: both;
  margin-bottom: 2em;
}

.back .exif-data {
font-size: 80%;
}

.shadow {
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
}

.shadow:hover {
border-color: rgba(82, 168, 236, 0.8);
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.8);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.8);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.8);
}

.pagination {
height: 24px;
margin-top: -30px;
margin-bottom: 30px;
}

.pagination ul, .pagination ul li a, .pagination ul li.active a, .pagination ul li a:hover {
line-height: inherit;
border: none;
background: none;
padding: 10px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.pagination a {
width: 10px;
color: #aaa;
font-size: 150%;
}

td.actions {
text-align: right;
}

a.adduser {
margin-bottom: 1em;
}

.form-signin {
max-width: 300px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
margin-bottom: 15px;
padding: 7px 9px;
}

#loading {
position: fixed;
left: 50%;
margin-left: -150px;
top: 180px;
text-align: center;
width:300px;
height:188px;
display: none;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 38px;
height: 38px;
margin: 94px auto;
background: #ffffff;
-moz-border-radius: 188px;
-moz-animation: bubblingG 1.9s infinite alternate;
-webkit-border-radius: 188px;
-webkit-animation: bubblingG 1.9s infinite alternate;
-ms-border-radius: 188px;
-ms-animation: bubblingG 1.9s infinite alternate;
-o-border-radius: 188px;
-o-animation: bubblingG 1.9s infinite alternate;
border-radius: 188px;
animation: bubblingG 1.9s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.57s;
-webkit-animation-delay: 0.57s;
-ms-animation-delay: 0.57s;
-o-animation-delay: 0.57s;
animation-delay: 0.57s;
}

#bubblingG_3 {
-moz-animation-delay: 1.14s;
-webkit-animation-delay: 1.14s;
-ms-animation-delay: 1.14s;
-o-animation-delay: 1.14s;
animation-delay: 1.14s;
}

@-moz-keyframes bubblingG {
0% {
width: 38px;
height: 38px;
background-color:#ffffff;
-moz-transform: translateY(0);
}

100% {
width: 90px;
height: 90px;
background-color:#ffffff;
-moz-transform: translateY(-79px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 38px;
height: 38px;
background-color:#ffffff;
-webkit-transform: translateY(0);
}

100% {
width: 90px;
height: 90px;
background-color:#ffffff;
-webkit-transform: translateY(-79px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 38px;
height: 38px;
background-color:#ffffff;
-ms-transform: translateY(0);
}

100% {
width: 90px;
height: 90px;
background-color:#ffffff;
-ms-transform: translateY(-79px);
}

}

@-o-keyframes bubblingG {
0% {
width: 38px;
height: 38px;
background-color:#ffffff;
-o-transform: translateY(0);
}

100% {
width: 90px;
height: 90px;
background-color:#ffffff;
-o-transform: translateY(-79px);
}

}

@keyframes bubblingG {
0% {
width: 38px;
height: 38px;
background-color:#ffffff;
transform: translateY(0);
}

100% {
width: 90px;
height: 90px;
background-color:#ffffff;
transform: translateY(-79px);
}

}