<div class="flip-container" -data-id="<%= _id %>">
    <div class="flipper">
        <div class="front">
            <img src="/assets/original/<%= _id %>" data-width="<%= dimensionsX %>" data-height="<%= dimensionsY %>">
        </div>
        <div class="back">
            <div class="content">
                <h1><%= title %></h1>
                <p><%= description %></p>
                <a href="#assets/<%= _id %>/edit" class="btn btn-small">Edit</a>
            </div>
        </div>
    </div>
</div>