<div class="flip-container" -data-id="<%= _id %>">
    <div class="flipper">
        <div class="front">
            <img src="/assets/original/<%= _id %>" onload="resizeElements();">
        </div>
        <div class="back">
            <div class="content">
                <img src="/assets/preview/<%= _id %>">
                <h1><%= title %></h1>
                <%= description %>
				<% if (typeof exif != "undefined" && exif) { %>
					<table class="exif-data table table-striped table-condensed table-hover">
						
						<% for (var key in exif) { %>
							<tr>
								<td>
									<strong><%= key %></strong>
								</td>
								<td>
									<%= exif[key] %>
								</td>
							</tr>
						<% } %>
						
					</table>
				<% } %>
                <div class="form-actions">
                    <a href="/assets/download/<%= _id %>" class="btn btn-small">Download</a>
                    <a href="#assets/<%= _id %>/edit" class="btn btn-small">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>