<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Asset saved successfully
        </div>
    </div>
</div>

<div class="row-fluid">

    <form class="form-horizontal span12" enctype="multipart/form-data" method="post">

        <fieldset>

            <legend>Asset Details</legend>
            <br/>

            <div class="row">
                <div class="span8">

                    <div class="control-group">
                        <label for="assetId" class="control-label">Id:</label>

                        <div class="controls">
                            <input id="assetId" name="id" type="text" value="<%= _id === null ? '' : _id %>"
                                   disabled/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="title" class="control-label">Title:</label>

                        <div class="controls">
                            <input type="text" id="name" name="title" value="<%= title %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="description" class="control-label">Description:</label>

                        <div class="controls">
                            <input type="text" id="description" name="description" value="<%= description %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <div class="well" style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
                        <p><img id="picture" width="180" src="<%= filename === null ? 'images/grey.gif' : '/assets/original/' +_id %>"/></p>
                        <p style="color:#999;">Drag a new image onto the box above. (JPEG, < 500KB)</p>
                    </div>
                </div>

            </div>

        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn cancel">Cancel</a>
            <a href="#" class="btn btn-primary save">Save</a>
            <% if (Backbone.history.fragment != 'assets/add') { %>
                <a href="#" class="btn btn-danger delete">Delete</a>
            <% } %>
        </div>

    </form>

</div>

